palette = 0=${menu}
palette = 1=${red}
palette = 2=${green}
palette = 3=${yellow}
palette = 4=${purple}
palette = 5=${pink}
palette = 6=${cyan}
palette = 7=${foreground}
palette = 8=${comment}
palette = 9=${brightRed}
palette = 10=${brightGreen}
palette = 11=${brightYellow}
palette = 12=${brightBlue}
palette = 13=${brightMagenta}
palette = 14=${brightCyan}
palette = 15=${brightWhite}
background = ${background}
foreground = ${foreground}
cursor-color = ${cursor}
cursor-text = ${background}
selection-background = ${selection}
selection-foreground = ${brightWhite}
